.modal {
    border-radius: 1rem;
    width: calc(50% - 6px);
    border: 2px solid rgb(170, 38, 5);
    background-color: rgb(180, 180, 180);
    margin: 3px;
    box-sizing: border-box;
    padding: 4px;
    color: rgb(238, 238, 238);
    text-align: center;
}

.modals {
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    font-style: oblique;
    display: flex;
    flex-wrap: wrap;
}
