.navbar {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color:rgb(163, 53, 53);
    justify-content: space-around;
    color: #ffffff;
    box-shadow: 2px 2px 7px 2px rgb(26, 26, 26);
}

.navbar ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.navbar ul li {
    margin: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.navbar ul li:hover {
    border-bottom: 5px solid gray;
}

.navbar h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.2rem;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
}

.navbar ul {
    display: flex;
    list-style: none;
    border-bottom: 5px solid rgb(179, 23, 23);
}